.create-comment {
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
    }

    .comment-header {
        font-size: 10px;
        font-weight: 200;
        margin-bottom: 10px;
    }

    .comment-button {
        justify-content: end;
    }
