.create-update-post {
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    margin-bottom: 15px;
}

    li {
        list-style-type: none;
    }

    .choose-tag-name {
        padding-left: 10px;
    }