.comment {
    padding: 12px;
    width: 850px;

    }

    .comment-header {
        font-size: 14px;
        font-weight: bold;
        display: flex;
        align-items: center;
        margin-bottom: 2px;
    }

    