@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.formbox {
    background: transparent;
    border-radius: 12px;
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    width: 420px;
    padding: 30px 40px;
    font-family: 'Poppins', sans-serif;
    }

    .formbutton {
        color: white !important;
    }

    .text-input {
        border-color: white !important;
    }
