@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=DM+Serif+Display&family=Inter:wght@200;700&display=swap');

.home-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7c516;
    gap: 20px;
    }

    .home-text {
        height: 360px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: end;
        color: white;
        font-family: 'Inter', sans-serif;
        text-align: right;
        }

        .home-title {
            color: #AF8FE9;
            font-size: 100px;
            font-family: 'DM Serif Display', sans-serif;
        }

        .home-subtitle {
            font-size: 30px;
            color: rgb(251, 254, 251);
            font-family: 'DM Serif Display', sans-serif;
        }
    
    img {
        width: 538.75px;
        height: 360px;
    }
