.comment-section {
    margin-bottom: 15px;
    }

    .comment-number {
        margin-left: 15px;
        font-size: large;
        font-weight: bold;
    }

    .zero-comments {
        margin: 5px;
        margin-left: 15px;
        font-size: 14px;
    }