@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=DM+Serif+Display:ital@0;1&family=Inter:wght@200;700&display=swap');

.home-signup {
    background-color: #f7d34fdd;
    }

    .home-signup img {
        display: block;
        width: 100%;
        height: auto;
        opacity: 0.5;
    }

    .text-overlay {
        position: absolute;
        top: 175%;
        left: 50%;
        transform: translate(-50%, -50%); 
        background-color: #000000; 
        color: #fff; 
        padding: 10px 20px; 
        font-size: 50px; 
        text-align: center;
        font-family: 'DM Serif Display', sans-serif;
    }

    .home-signup button {
        position: absolute;
        left: 50%;
        top: 190%;
        transform: translate(-50%, -50%); 
        padding: 10px 20px; 

    }